* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#red {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: red;
    padding: 30px;
}

#green {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: green;
}

#blue {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: blue;
}

#yellow {
    width: 240px;
    height: 240px;
    border: 1px solid black;
    background-color: yellow;
}
